<link rel="stylesheet" href="scripts/customer-info-style.css"> 

<div class="row" ng-controller="customerInfoController as customerCtrl">
	<div class="col-md-12">
		
		<div id="menuRow" class="row">
			<customer-search  ng-show="customerCtrl.searchType == 'NAME'" class="col-md-6"
			customer-name="customerCtrl.customerName"  input-text="Enter customer name" 
			name-search-fn="customerCtrl.getTopCustomerNames" info-search-fn="customerCtrl.getCustomerInfoData"></customer-search>

			<customer-search  ng-show="customerCtrl.searchType == 'TEL'" class="col-md-6"
			customer-name="customerCtrl.customerName"  input-text="Enter telephone number" 
			name-search-fn="customerCtrl.getCustomerNamesByTel" info-search-fn="customerCtrl.getCustomerInfoData"></customer-search>

			<customer-search  ng-show="customerCtrl.searchType == 'EMAIL'" class="col-md-6"
			customer-name="customerCtrl.customerName"  input-text="Enter email address" 
			name-search-fn="customerCtrl.getCustomerNamesByEmail" info-search-fn="customerCtrl.getCustomerInfoData"></customer-search>

			<div id="searchType" class="col-md-2">
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" value="NAME" ng-model="customerCtrl.searchType"  class="form-check-input" name="optradio">Name
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" value="TEL" ng-model="customerCtrl.searchType" class="form-check-input" name="optradio">Telephone
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" value="EMAIL" ng-model="customerCtrl.searchType" class="form-check-input" name="optradio">Email
					</label>
				</div>
			</div>

			<div id="connectionStatus" class="col-md-3 offset-md-1">
				<connection-info api-details="customerCtrl.connectionAPIDetails" interface-details="customerCtrl.connectionInterfaceDetails"></connection-info>
			</div>


		</div>


		<div class="col-md-12 card text-white bg-danger mb-3" ng-show="customerCtrl.isShowErrorMessages()">
			<div class="card-header">Warning</div>
			<div class="card-body">
				<h6 class="card-title">Unfortunately error/s have occured!</h5>
				<p class="card-text" ng-repeat="msg in customerCtrl.errorMessages">{{msg}}</p>
			</div>
		</div>



		<div id="customerResults"  class="col-md-12">
			<div id="customerDataLoader">
				<div class="spinner-border text-primary" role="status" ng-show="customerCtrl.isCustomerInfoLoading">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			
			
			<div id="customerInfoDiv" class="col-md-8>"  ng-show="customerCtrl.isTableVisible">
				
				<customer-info data="customerCtrl.customerInfoData" save-email-fn="customerCtrl.saveEmail" save-tel-fn="customerCtrl.saveTel"></customer-info>

				<div id="customerListDataDiv">
					<customer-list-data header="Interviews" list-data-key="interviews" list-data="customerCtrl.customerInfoData.listData.interviews" save-data-fn="customerCtrl.saveListData"></customer-list-data>	
					<customer-list-data header="Self Tapes" list-data-key="selfTapes" list-data="customerCtrl.customerInfoData.listData.selfTapes" save-data-fn="customerCtrl.saveListData" ></customer-list-data>
					<customer-list-data header="Offers" list-data-key="offers" list-data="customerCtrl.customerInfoData.listData.offers" save-data-fn="customerCtrl.saveListData" ></customer-list-data>
					<customer-list-data header="Chosen Agencies" list-data-key="chosenAgencies" list-data="customerCtrl.customerInfoData.listData.chosenAgencies" save-data-fn="customerCtrl.saveListData" ></customer-list-data>
					<customer-list-data header="Casting Directories" list-data-key="casting" list-data="customerCtrl.customerInfoData.listData.casting" save-data-fn="customerCtrl.saveListData" ></customer-list-data>
				</div>
			</div>

			<div id="memosDiv" class="col-md-4>"  ng-show="customerCtrl.isTableVisible">
				<div class="card">
					<div class="card-header"> 
						Memos					
						<button data-toggle="modal" class="btn btn-dark editMemoButton" data-target="#notesEditModal"> <i class="far fa-edit"></i> </button>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item" ng-repeat="memo in customerCtrl.customerInfoData.memos" ng-hide="memo.shouldBeDeleted">{{memo.note}}</li>
						</ul>
					</div>
				</div>
				<edit-notes memos="customerCtrl.customerInfoData.memos" save-notes-fn="customerCtrl.saveNotes" new-note="customerCtrl.getNewNote"></edit-notes>
			</div>

		</div>

		
		

	</div>
	
	
</div>

