<link rel="stylesheet" href="scripts/customer-info-style.css"> 

<div class="row" ng-controller="customerInfoController as customerCtrl">
	<div class="col-md-10">

		<div id="customerSearch" class="col-md-6">
			<div class="form-group">
				<label for="states">Search for Customer</label>
				<input name="states" id="states" type="text" placeholder="Enter customer name..." ng-model="customerCtrl.customerName" 
				uib-typeahead="state for state in customerCtrl.getTopCustomerNames($viewValue)"  typeahead-loading="loadingLocations" typeahead-no-results="noResults"  class="form-control">
				
				<i ng-show="loadingLocations" class="fa-svg-icon">
					<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1639 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zm25-800v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z"/></svg>
				</i>
				
				<div ng-show="noResults">
					<i class="fa-svg-icon">
					<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/></svg>
					</i>
					No Results Found
				</div>			

				<button type="button" ng-disabled="!customerCtrl.customerName" id="searchBtn" class="btn btn-primary" ng-click="customerCtrl.getCustomerInfoData()">Search</button>
			</div>
		</div>




		<div id="customerResults"  class="col-md-12">
			<div id="customerDataLoader">
				<div class="spinner-border text-primary" role="status" ng-show="customerCtrl.isCustomerInfoLoading">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			
			<div id="customerInfoDiv" class="col-md-8>"  ng-show="customerCtrl.isTableVisible">
				<table id="customerInfoTbl"  class="table table-hover table-striped">
					<tbody>
						<tr customer-header-row headers="[customerCtrl.fieldNames.accountRef, customerCtrl.fieldNames.accountName, customerCtrl.fieldNames.shortName]"></tr>
						<tr customer-value-row values="[customerCtrl.customerInfoData.accountRef, customerCtrl.customerInfoData.accountName, customerCtrl.customerInfoData.shortName]"></tr>

						<tr customer-header-row headers="[customerCtrl.fieldNames.customerName, customerCtrl.fieldNames.transPackage, customerCtrl.fieldNames.type]"></tr>
						<tr customer-value-row values="[customerCtrl.customerInfoData.customerName, customerCtrl.customerInfoData.transPackage, customerCtrl.customerInfoData.type]"></tr>	
						
						<tr customer-header-row headers="[customerCtrl.fieldNames.dateOfShoot, customerCtrl.fieldNames.total, customerCtrl.fieldNames.invoiceBalance]"></tr>
						<tr customer-value-row values="[customerCtrl.customerInfoData.dateOfShoot, customerCtrl.customerInfoData.total, customerCtrl.customerInfoData.invoiceBalance]"></tr>

						<tr customer-header-row headers="[customerCtrl.fieldNames.signedDate, customerCtrl.fieldNames.email, customerCtrl.fieldNames.email2]"></tr>
						<tr customer-value-row values="[customerCtrl.customerInfoData.signedDate, customerCtrl.customerInfoData.email, customerCtrl.customerInfoData.email2]"></tr>

						<tr customer-header-row headers="[customerCtrl.fieldNames.tel, customerCtrl.fieldNames.seenContact]" col-span="2"></tr>
						<tr customer-value-row values="[customerCtrl.customerInfoData.tel, customerCtrl.customerInfoData.seenContact]" col-span="2"></tr>
					</tbody>
				</table>

				<div id="customerListDataDiv">
					<customer-list-data header="Interviews" data="customerCtrl.customerInfoData.listData.interviews.data" ></customer-list-data>
					<customer-list-data header="Chosen Agencies" data="customerCtrl.customerInfoData.listData.chosenAgencies.data" ></customer-list-data>
					<customer-list-data header="Offers" data="customerCtrl.customerInfoData.listData.offers.data" ></customer-list-data>
					<customer-list-data header="Casting Directories" data="customerCtrl.customerInfoData.listData.casting.data" ></customer-list-data>
					<customer-list-data header="Self Tapes" data="customerCtrl.customerInfoData.listData.selfTapes.data" ></customer-list-data>
				</div>
			</div>

			<div id="memosDiv" class="col-md-4>"   ng-show="customerCtrl.isTableVisible">
				<div class="card">
					<div class="card-header">
						Memos
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item" ng-repeat="memo in customerCtrl.customerInfoData.memos">{{memo}}</li>
						</ul>
					</div>
				</div>
			</div>

		</div>

		
		

	</div>
	
	
</div>

