HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
sage-client-frontend/frontend-workspace.code-workspace
sage-client-frontend/node_modules

### eclispe ###
SageClient/.gitignore
SageClient/.mvn
SageClient/.settings
SageClient/.project
SageClient/.metadata
SageClient/HELP.md
SageClient/mvnw.cmd
SageClient/mvn.cmd
SageClient/mvnw
/SageClient/target/**
SageClient/tokenGetter/
/.metadata/