#menuRow{
    margin-bottom: 50px;
}

#smallMenu{
    text-align: right;
}


#customerSearch{
    margin-bottom: 20px;
    float: left;
}

#connectionStatus{
    float: left;
}

.tickIcon{
    color: #33d633;
    font-size: 15pt;
}

.crossIcon{
    color: red;
    font-size: 15pt;
}

#xcustomerResults{
    height: 700px;
    overflow-y: auto;
}

#customerDataLoader{
    text-align: center;
}


#customerInfoDiv{
    background-color: #f7fafb;
    padding: 10px;    
    border-radius: 3px;   
    float: left;
}

#customerInfoTbl{
    border-bottom: 1px solid #dee2e6;
}

#customerListDataDiv{
    margin-top: 20px;
}

.customerListData{
    border: 1px solid #dee2e6;
    padding: 3px;
    border-radius: 5px;
    background-color: #f5f5f5;
    display: inline-block;
}

.customerListDataHeader{
    padding: 10px;
    font-weight: bold;
}
#memosDiv{
    float: left;
    margin-left: 20px;
}

#customerNameSelect{
    width: 100%;
}

.searchBtn{
    margin-top: 10px;
}

#connectionStatusHeader{
    display: inline-block;
    margin-right: 10px;
}

.connectionDetailsDiv{
    font-size: 10pt;
    margin-bottom: 30px;
}

.editMemoDiv{
    margin-bottom: 10px;
}

.editMemoButton{
    float: right;
    margin-left: 10px;
    width: 40px;
    height: 35px;
}

.editMemoTxt{
    display: inline-block;
    width: 80%
}

.removeMemoBtn{
    display: inline-block;
}


.customerInfoCell{
    padding: 5px;
}

.infoHeaderCell{
    display: inline-block;
    font-weight: bold;
    background-color: #ebeeef;
}

.customerInfoHeader{
    background-color:  #ebeeef;
}

.customerInfoValue{
    background-color:  #f7fafb;
}


.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

#searchTxts{
    float: left;
}
#searchTypes{
    margin-left: 50px;
    float: left;
}

.memoDate{
    font-size: 11pt;
    color: #7c7e80;
}