#customerSearch{
    margin-bottom: 20px;
    float: left;
}

#connectionStatus{
    float: left;
}

#customerResults{
    height: 700px;
    overflow-y: auto;
}

#customerDataLoader{
    text-align: center;
}


#customerInfoDiv{
    background-color: #f7fafb;
    padding: 10px;    
    border-radius: 3px;   
    float: left;
}

#customerInfoTbl{
    border-bottom: 1px solid #dee2e6;
}

#customerListDataDiv{
    margin-top: 20px;
}

.customerListData{
    border: 1px solid #dee2e6;
    padding: 3px;
    border-radius: 5px;
    background-color: #f5f5f5;
    display: inline-block;
}

.customerListDataHeader{
    padding: 10px;
    font-weight: bold;
}
#memosDiv{
    float: left;
    margin-left: 20px;
}

#customerNameSelect{
    width: 100%;
}

#searchBtn{
    margin-top: 10px;
}