<table id="customerInfoTbl"  class="table table-hover">
    <tbody>
    <tr
        customer-info-row data="data" >
        <!-- customer-info-cell header="Account Ref" value="data.accountRef" key="accountRef" editable="true" 
      <td> <customer-info-cell header="Account Name" value="data.accountName" key="accountName"></customer-info-cell> </td>
        <td> <customer-info-cell header="Short Name" value="data.shortName" key="shortName"></customer-info-cell> </td>
        <td> <customer-info-cell header="Accouname" value="data.KEY" key="KEY_HERE"></customer-info-cell> </td>>-->
    </tr>
  <!--  <tr>   
        <td> <customer-info-cell header="Accouname" value="data.KEY" key="KEY_HERE"></customer-info-cell> </td>
        <td> <customer-info-cell header="Accouname" value="data.KEY" key="KEY_HERE"></customer-info-cell> </td>
        <td> <customer-info-cell header="Accouname" value="data.KEY" key="KEY_HERE"></customer-info-cell> </td>

        <td> <customer-info-cell header="Accouname" value="data.KEY" key="KEY_HERE"></customer-info-cell> </td>
    </tr> 
    <tr>  
        <td> <customer-info-cell header="Accouname" value="data.KEY" key="KEY_HERE"></customer-info-cell> </td>
        <td> <customer-info-cell header="Accouname" value="data.KEY" key="KEY_HERE"></customer-info-cell> </td>

    </tr>-->
    </tbody>
</table>
