<!--
<th> Account Ref </th>
<td> {{data.accountRef}} </td>


<th>
        Email 2 <button data-toggle="modal" class="btn btn-dark editMemoButton" data-target="{{'#fieldEditModalemail2'}}"> <i class="far fa-edit"></i> </button>
</th>
<td> {{data.email2}} <edit-field header="Email 2" value="data.email2" save-field-fn="saveFieldFn" key="email2"></edit-field> </td>

-->























<!-- <customer-info-cell header="Account Ref" value="data.accountRef" key="accountRef" editable="true"></customer-info-cell>  -->