<!--
<div class="customerInfoCell">
    
    <div class="infoHeaderCell">
        <span>{{header}}</span>
        <button data-toggle="modal" ng-show="editable" class="btn btn-dark editMemoButton" data-target="{{'#fieldEditModal' + key}}"> <i class="far fa-edit"></i> </button>
    </div>
    <span class="infoValueCell">{{value}}</span>
    
    <edit-field ng-show="editable" header="header" value="value" key="key"></edit-field>
</div>-->




<th>
        {{header}}
        <button data-toggle="modal" ng-show="editable" class="btn btn-dark editMemoButton" data-target="{{'#fieldEditModal' + key}}"> <i class="far fa-edit"></i> </button>
</th>

<td>
       {{value}}

</td>

<edit-field ng-show="editable" header="header" value="value" key="key"></edit-field>