<div class="modal" id="listDataEditModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title"> {{"Edit " + listDataType}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div ng-repeat="data in listData.data track by $index">
                <input type="text" class="form-control" ng-model="listData.data[$index]">
                <button type="button" ng-click="listData.data.splice($index, 1)"><i class="fas fa-minus-square"></i></button>
            </div>
            <button type="button" ng-click="listData.data.push('')" ><i class="fas fa-plus-square"></i></button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveDataFn(listDataKey)">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

        </div>
    </div>
</div>
