<div class="modal" id="{{'fieldEditModal' + key}}">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title"> Edit {{header}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            
            <div ng-show="fieldType == 'date'"> Enter as 'yyyy-mm-dd' </div>
            <input type="text" class="editMemoTxt form-control" ng-model="value">
            <!--<div class="input-group" ng-show="fieldType == 'date'"  ng-controller="datePickerController as signedDatePickerCtrl">
                <input type="text" class="form-control" ng-model="value" />    
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="signedDatePickerCtrl.open2()"><i class="fas fa-calendar-alt"></i></button>
                </span>
            </div>-->
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveFieldFn(key)">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

        </div>
    </div>
</div>

<!--  uib-datepicker-popup="{{signedDatePickerCtrl.format}}" is-open="signedDatePickerCtrl.popup2.opened" datepicker-options="signedDatePickerCtrl.dateOptions" ng-required="true" close-text="Close"  -->